@font-face {
    font-family: 'Satoshi';
    src: url('../fonst/satoshi/false.woff2') format('woff2'),
        url('../fonst/satoshi/false.woff') format('woff');
}

@font-face {
    font-family: 'FONTSPRING DEMO - Integral CF Extra';
    src: url('../fonst/integralCF/FONTSPRINGDEMO-IntegralCFBoldRegular.woff2') format('woff2'),
        url('../fonst/integralCF/FONTSPRINGDEMO-IntegralCFBoldRegular.woff') format('woff');
}

* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style-type: none;
    box-sizing: border-box;
    font-family: Satoshi;
}

body {
    width: 100%;
}

header {
    width: 100%;
}

.notification-area {
    height: 38px;
    background-color: black;
    color: white;
    display: grid;
    grid-template-columns: 98% 2%;
    place-items: center;
    padding: 0 4rem;
}

.notification-area>p {
    font-family: 'Satoshi';
    font-weight: 400;
    font-size: 14px;
}

.notification-area .x-icon {
    float: right;
}

.sign-up-link {
    font-family: 'Satoshi';
    color: white;
    text-decoration: underline;
    font-weight: 500;
    font-size: 14px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 4rem;
}

.menu-list {
    display: flex;
    gap: 1rem;
    justify-content: center;
    align-items: center;
}

.menu-link {
    font-family: 'Satoshi';
    text-transform: capitalize;
    color: #000000;
}

.drop-down-menu {
    display: flex;
    gap: 0.3rem;
    justify-content: center;
    align-items: center;
}

.search-products {
    width: 577px;
    background: #F0F0F0;
    display: flex;
    gap: 0.5rem;
    justify-content: flex-start;
    align-items: center;
    padding: 0.5rem 1rem;
    border-radius: 1.5rem;
}

#search-bar {
    font-family: 'Satoshi';
    border: none;
    background: transparent;
    outline: none;
}

.profile {
    display: flex;
    gap: 1rem;
    justify-content: center;
    align-items: center;
}

.hero {
    width: 100%;
    height: 663px;
    background: url(../media/img/hero-img.svg) center no-repeat;
    background-size: cover;
    display: grid;
    grid-template-columns: 1fr 1fr;
    overflow: hidden;
    padding: 0 4rem;
}

.section-content {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: center;
    align-items: flex-start;
}

.section-content .title {
    font-family: 'FONTSPRING DEMO - Integral CF Extra';
    font-size: 4rem;
}

.section-content .title-desc {
    color: #00000099;
}

.section-content button {
    width: 13.125rem;
    height: 3.25rem;
    background-color: black;
    color: white;
    border: none;
    border-radius: 3rem;
}

.statistics {
    width: 100%;
}

.stat-item:not(:first-child) {
    text-align: center;
}

.stat-item:not(:last-child) {
    border-right: 1px solid rgba(0, 0, 0, 0.1)
}

.stat-number {
    font-size: 2.5rem;
    font-weight: 700;
}

.stat-content {
    display: grid;
    text-transform: capitalize;
}

.section-img img {
    width: 104px;
    height: 104px;
    position: absolute;
    top: 200px;
    left: 1200px;
}

.section-img img.small-star {
    width: 56px;
    height: 56px;
    top: 400px;
    left: 720px;
}

.brands {
    width: 100%;
    height: 122px;
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 4rem;
}

.products {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    padding: 2rem 0;
    margin: 0 4rem;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.products.top-selling {
    border: none;
}

.section-heading {
    font-size: 3rem;
    font-family: 'FONTSPRING DEMO - Integral CF Extra';
}

.products-section-content {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.product-card {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 0.5rem;
}

.product-card>.product-title {
    text-transform: capitalize;
}

.product-title, .price {
    font-size: 20px;
    font-weight: 700;
}

.price-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
}

.price.old {
    color: rgba(0, 0, 0, 0.4);
}

.discount {
    width: 58px;
    height: 28px;
    font-size: 12px;
    color: rgba(255, 51, 51, 1);
    background-color: rgba(255, 51, 51, 0.1);
    padding: 6px 14px 6px 14px;
    border-radius: 4rem;
}

.product-rating {
    display: flex;
    gap: 1rem;
}

.product-rating .number-rating {
    font-size: 14px;
    font-weight: 400;
}

.number-rating>span {
    color: rgba(0, 0, 0, 0.4);
}

.product .price {
    font-size: 24px;
}

.view-all-btn {
    width: 218px;
    height: 52px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 3rem;
    background: transparent;
    outline: none;
    text-transform: capitalize;
}

.view-all-btn:hover {
    background-color: #000000;
    color: white;
    cursor: pointer;
}

.categories {
    width: 1239px;
    height: 866px;
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 15% 40% 40%;
    background: rgba(240, 240, 240, 1);
    border-radius: 40px;
    margin: 4rem;
    padding: 3rem;
}

.section-heading {
    grid-area: 1/1/2/4;
    text-align: center;
}

.casual {
    grid-area: 2/1/3/2;
    background: url(../media/img/casual.svg) center no-repeat;
}
.formal {
    grid-area: 2/2/3/4;
    background: url(../media/img/formal.svg) center no-repeat;
}

.party {
    grid-area: 3/1/4/3;
    background: url(../media/img/party.svg) center no-repeat;
}
.gym {
    grid-area: 3/3/4/4;
    background: url(../media/img/gym.svg) center no-repeat;
}

.casual,
.formal,
.party,
.gym {
    background-size: cover;
    border-radius: 20px;
    font-size: 36px;
    font-weight: 700;
    text-transform: capitalize;
    padding: 2rem;
}

.happy-customers {
    padding: 2rem 4rem;
    margin-bottom: 8rem;
}

.section-heading-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
}

.chevron-container {
    display: inline;
}

.reviews-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.review-card {
    flex-basis: 32%;
    height: 240px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:flex-start;
    gap: 12px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    padding: 28px 32px 28px 32px;
}

.review-profile {
    display: flex;
    justify-content: center;
    align-items:center;
    gap: 4px;
}

.review-profile>p {
    font-size: 20px;
    font-weight: 700;
    text-transform: capitalize;
}

.review-content {
    font-weight: 400;
    color: rgba(0, 0, 0, 0.6);
}

footer {
    background: rgba(240, 240, 240, 1);
    padding: 7rem 4rem 2rem 4rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    position: relative;
}

.contact-form {
    width: 1240px;
    height: 180px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #000000;
    border-radius: 20px;
    padding: 36px 64px 36px 64px;
    position: absolute;
    top: -20%;
}

.contact-form-heading {
    color: white;
    font-size: 40px;
    flex-basis: 50%;
    text-align: left;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.mail-box,
.subscribe-btn {
    width: 349px;
    height: 48px;
    background: rgba(255, 255, 255, 1);
    border-radius: 62px;
    padding: 12px 16px;
    display: flex;
    gap: 12px;
}

.mail-box input {
    border: none;
    width: 90%;
    outline: none;
}

.mail-box input::placeholder {
    color: rgba(0, 0, 0, 0.4);
    font-weight: 400;
}

.subscribe-btn {
    height: 46px;
    cursor: pointer;
}

.subscribe-btn>button {
    width: 100%;
    height: 100%;
    border: none;
    background: transparent;
    text-transform: capitalize;
    color: rgba(0, 0, 0, 1);
    font-weight: 600;
    cursor: pointer;
}

.footer-menu {
    display: grid;
    grid-template-columns: repeat(5,1fr);
    gap: 35px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    padding: 2rem 0;
}

.footer-logo {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

.footer-logo-desc {
    color: rgba(0, 0, 0, 0.6);
    font-size: 14px;
    font-weight: 400;
}

.social {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
}

.social img {
    width: 30px;
    height: 30px;
    background: white;
    padding: 7px;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.2);
}

.social img:nth-child(2) {
    background: black;
}

.footer-sub-menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 26px;
}

.submenu-heading {
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 3px;
}

.footer-menu .footer-sub-menu ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 19px;
}

.footer-menu .footer-sub-menu ul li {
    font-weight: 400;
    color: rgba(0, 0, 0, 0.6);
    text-transform: capitalize;
}

.payment-methods {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.copyright {
    font-size: 14px;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.6);
}

.payment-method-cards {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
}

.payment-method-cards img {
    width: 46px;
    height: 30px;
    background: rgba(255, 255, 255, 1);
    border-radius: 5px;
    padding: 4px 8px;
}
